@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

a {
  @apply text-sky-400 hover:text-sky-300 underline underline-offset-2;
}

table {
  border-collapse: collapse;
}

